.App {
  text-align: center;
}

.App .wrapper {
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

.App .formSide {
  float: left;
  width: 45%;
}
.App .resultSide {
  float: right;
  width: 45%;
}

.App .buttonBox span {
  padding-right: 1rem;
}

.App .buttonBox .confirm button {
  margin-right: 1rem;
}

.App .buttonBox .confirm button:last-child {
  margin-right: 0;
}

.App textarea, .App .Waiting, .App .ModeledOutput {
  display: block;
  width: 94%;
  height: 30rem;
  margin: 0 auto 1rem auto;
  overflow: auto;
  border: 0.025rem solid gray;
  text-align: left;
  padding: 0.45rem;
}

.App .RawResults pre.JsonDisplay {
  width: 88%;
  height: 30rem;
  margin: 0 auto 1rem auto;
}

.App .ListedError {
  width: 88%;
  margin: 1rem auto;
}

.App .empty {
  background-color: lightgray;
}

.App .error {
  background-color: lightsalmon;
  color: darkred;
}

.App .success {
  background-color: lightgreen;
  color: darkgreen;
}

