.App {
  text-align: center;
}

.App .wrapper {
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

.App .formSide {
  float: left;
  width: 45%;
}
.App .resultSide {
  float: right;
  width: 45%;
}

.App .buttonBox span {
  padding-right: 1rem;
}

.App .buttonBox .confirm button {
  margin-right: 1rem;
}

.App .buttonBox .confirm button:last-child {
  margin-right: 0;
}

.App textarea, .App pre {
  display: block;
  width: 99%;
  height: 30rem;
  margin: 0 auto 1rem auto;
  overflow: auto;
  border: 0.025rem solid gray;
  text-align: left;
  white-space: pre-wrap;
  padding: 0.45rem;
}

.App pre.empty {
  background-color: lightgray;
}

.App pre.error {
  background-color: lightsalmon;
  color: darkred;
}

.App pre.success {
  background-color: lightgreen;
  color: darkgreen;
}

